		body {
        background-color : grey;
		font-family:'bitter' ,"Times New Roman", Verdana, sans-serif;
		padding-top: 50px;
      }
		
	 /*img {
		width : 100% ;
		margin-bottom : 15px ;
	   }*/
	   
	   .navbar {
	   margin-left : -15px ;
	   margin-right : -15px;
	   margin-bottom : 0px;
	   }
	   
	   /*#carousel {
	   margin-left : -15px ;
	   margin-right : -15px;
	   }*/
	   
	   
	   h1 {
	   margin-bottom : 35px ;
	   }
	   
	   .jumbotron {
	   background-color : rgba(255 , 255 , 255 , 0.2) ;
	   }
	   
	   .jumbotron h1 , .jumbotron p{
	   color :black;
	   }
	   
	   
	   .navbar {
	   border-radius : 0px ;
	   }
	   
	   #titre_site{
	   color : #a94442 ;
	   }
	   
	   .col-md-6 {
	   margin-bottom : 15px;
	   }
	   
	   a li {
	   margin-left : 10px ;
	   }
	
	@media(max-width: 767px ) {
	li {
	margin-left : 15px;
	}
	#titre_site {
	margin-left : 15px ;
	}
	}
	
	.bloc_accueil {
	background-color : white ;
	padding : 15px ;
	margin-bottom : 15px ;
	}